<header style="background-color: rgb(199, 199, 199)">
  <a href="/"> <h1>Site Title</h1></a>
  <nav>
    <a href="/artists">Artists</a>
    <a href="/albums">Albums</a>
    <a href="/tutorial">Tutorial</a>
    <a href="/">TBA: login</a>
  </nav>
</header>
