<header>
  <nav>
    <a href="/"> <h1>My Music</h1></a>
    <a href="/about"><img src="/imgs/about.svg"/></a>

    <!-- <a href="/artists">Artists</a> -->
    <!-- <a href="/albums">Albums</a> -->

    <!-- <% if (locals.currentUser) { %>
    <p><%= currentUser.username%></p>
    <a href="/logout">Log Out</a>

    <% } else { %>
    <a href="/login">Log In</a>
    <% } %> -->
  </nav>
</header>
