<header>
  <nav>
    <a href="/"> <h1>Site Title</h1></a>
    <a href="/tutorial">About</a>

    <!-- <a href="/artists">Artists</a> -->
    <!-- <a href="/albums">Albums</a> -->

    <!-- <% if (locals.currentUser) { %>
    <p><%= currentUser.username%></p>
    <a href="/logout">Log Out</a>

    <% } else { %>
    <a href="/login">Log In</a>
    <% } %> -->
  </nav>
</header>
