<header style="background-color: rgb(199, 199, 199)">
  <a href="/"> <h1>Site Title</h1></a>
  <nav>
    <a href="/artists">Artists</a>
    <a href="/albums">Albums</a>
    <a href="/tutorial">Tutorial</a>

    <% if (locals.currentUser) { %>
    <p><%= currentUser.username%></p>
    <a href="/logout">Log Out</a>

    <% } else { %>
    <a href="/login">Log In</a>
    <a href="/signup">(TEMP) Sign Up</a>
    <% } %>
  </nav>
</header>
