<div class="indexToolbar">
  <form method="GET" action="/" class="toolbarForm">
    <input
      type="text"
      name="searchValue"
      id="searchValue"
      value="<%= query %>"
    />
    <button type="submit">Search</button>
  </form>
  <a href="/new">Add</a>
  <div>
    <% if (locals.currentUser) { %>
    <p><%= currentUser.username%></p>
    <a href="/logout">Log Out</a>

    <% } else { %>
    <a href="/login">Log In</a>
    <% } %>
  </div>
</div>
