<div class="indexToolbar">
  <form method="GET" action="/" class="toolbarForm">
    <input
      type="text"
      name="searchValue"
      id="searchValue"
      placeholder="Search collection"
      value="<%= query %>"
    />
    <button type="submit">
      <img src="imgs/search.svg" alt="" />
    </button>
  </form>
  <a href="/new"><img src="/imgs/add.svg"/></a>
  <div>
    <% if (locals.currentUser) { %>
    <div>
      <p><%= currentUser.username%></p>
      <a href="/logout">Log Out</a>
    </div>

    <% } else { %>
    <div>
      <p></p>
      <a href="/login">Log In</a>
    </div>
    <% } %>
  </div>
</div>
