<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <a href="/">Home</a>
      <p>TBA: Errors partial, replace required tag</p>
      <form method="POST">
        <label for="name">Artist/Group name:</label>
        <input type="text" name="name" required/>
        <label for="year">First year active:</label>
        <input type="number" name="year" required/>
        <label for="notes">Notes:</label>
        <input type="text" name="notes" required/>
        <button>Submit</button>
      </form>
    </main>
  </body>
</html>
