<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>
    <main>
      <a href="/"><img src="/imgs/back.svg" /></a>
      <div class="formSplitDiv">
        <a href="/artists/new">
          <div class="formSplitButton">Add new Artist</div>
        </a>
        <a href="/albums/new">
          <div class="formSplitButton">Add new Album</div>
        </a>
      </div>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
