<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/header')%>

    <main>
      <h1><%= title %></h1>
      <a href="/"><img src="/imgs/back.svg" /></a>
        <form class="pageForm" action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"  />
            <label for="password">Password:</label>
            <input type="password"  id="password" name="password" />
            <button>Log In</button>
        </form>
    </main>

  </body>
</html