<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/header')%>

    <main>
      <h1><%= title %></h1>
      <a href="/"><img src="/imgs/back.svg" /></a>
      <h2>Searching the collection:</h2>
        <ul>
            <li>Use the links at the top of the page to view lists of all saved artists or albums.</li>
            <li>While viewing a list, you can use the search bar to filter the displayed results.</li>
            <li>Click on an entry item to view its detail page, including associated artists and albums, and editing functions.</li>
        </ul>
        <h2>Adding new entries:</h2>
        <ul>
            <li>To add a new artist or band, use the link on the Artist List page. To add a new album, use the link on the Album List page.</li>
            <li>Fill in all form fields and click "Submit" to add a new entry.</li>
            <li>Albums must be credited to an artist, so make sure they are already in the collection, or add them!</li>
            <li>You can make multiple artist selections by holding the "CTRL" key while clicking their names.</li>
        </ul>
        <h2>Updating or deleting entries:</h2>
        <ul>
            <li>To edit an entry, click the Edit link on its detail page. Make your desired changes in the form, and click Submit.</li>
            <li>To delete an entry, click the Delete link on its detail page. You will see a warning screen before completing the deletion.</li>
            <li>Artists can only be deleted if they have no credited Albums in the collection. Delete these albums or edit them to remove the artist planned for deletion.</li>
        </ul>
    </main>
    <%- include('partials/footer')%>

  </body>
</html
