html,
body {
  height: 100vh;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  margin: 0;
  color: white;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2px;
  gap: 2px;
}

header,
footer {
  background-color: rgb(42, 42, 42);
  padding: 2px;
}



nav,
footer {
  display: flex;
  justify-content: space-between;
}

main {
  background: rgb(98, 98, 98);
  background: linear-gradient(
    180deg,
    rgba(98, 98, 98, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  flex-grow: 1;
}

img {
  aspect-ratio: 1 / 1;
  /* background-color: rgb(217, 217, 237); */
}

.entryImg {
  background-color: rgb(217, 217, 237);
}

.indexMain {
  display: grid;
  height: 60%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr 6fr;
}

.indexMain > * {
}

.indexToolbar {
  margin: 2px;
  background-color: rgb(65, 105, 13);
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  text-align: center;
}

.toolbarForm {
  display: flex;
}

.resultHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resultHeader > h1 {
  font-size: 3rem;
}

.resultColumn {
  overflow: scroll;
}

.resultColumn > * {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailMain {
  display: grid;
  height: 40%;
  grid-template-rows: 20px 2fr 50px 1fr 20px 1fr;
}

.detailNav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(65, 105, 13);
}

.detailImg {
  width: 80%;
}

.detailHeadline {
  background-color: rgb(65, 105, 13);
}

.detailListHeading {
  background-color: rgb(65, 105, 13);
}
.detailNotes {
  overflow: auto;
}

.detailUL {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

li > * {
  display: flex;
  flex-direction: column;
}

.indexThumbnail {
  width: 75%;
}

.detailThumbnail {
  height: 70%;
}

.artistImg {
  border-radius: 50%;
}
